---
layout: default
title: Blog
---

<div class="content_wrapper">
  <div class="blog-list-wrapper"> 
    {% for post in site.posts %}
      {% if post.page != "movie" %}
        <div>
          <h2>
            <!-- <span class="material-icons-outlined">edit</span> -->
            <a href="{{ post.url }}">{{ post.title }}</a>
          </h2>
          <div class="excerpt">
            {{ post.excerpt }}
          </div>
          <!-- <hr> -->
        </div>
      {% endif %}
    {% endfor %}
  </div>
</div>
