---
layout: default
title: Home
---

<div class="main_wrapper">
<h2>{{ "Hello World!" | downcase }}</h2>
<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Architecto optio quam cupiditate praesentium ea rem, dignissimos nulla nesciunt placeat ut deleniti vel repellendus aut doloribus fugiat ipsa beatae veritatis ad?</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem quae tempore in tempora doloremque vero illo a asperiores veritatis quibusdam dignissimos laboriosam optio iure corporis, ratione deserunt hic debitis. Earum.</p>
</div>

<div class="main_aside">
    <h2>Latest Posts</h2>
    <ul role="list">
        {% for post in site.posts %}
            <li><a href="/Blog/_site{{ post.url }}">{{ post.title | capitalize }}</a></li>
        {% endfor %}
    </ul>
</div>

<div class="tags">
    <h2>Tags</h2>
    <div class="tag-child">
        <ul>
            {% for post in site.posts %}
            {% assign i = forloop.index0 %}
              <li>
                <a href="{{ post.url }}"> {{ i }}. {{ post.tags[i] }}</a>
              </li>
            {% endfor %}
          </ul>
    </div>
</div>