---
layout: post
---
<!-- showcase latest blog  -->
<div class="home_wrapper">

  <div id="q_wrapper">    
    <blockquote><div class="quote"></div></blockquote>
    <div class="author"></div>
  </div>

  <div class="post_showcase">
    {% for post in site.posts %}
    {% if forloop.index == 1 %}
      <h1><a href="{{ post.url }}">{{ post.title }}</a></h1>
      <p>{{ post.excerpt }}</p>
    {% endif %}
    {% endfor %}

<!-- displays latest five blog titles  -->
  <div class="main_aside top_post">
      <h2>Latest 5 posts</h2>
      <ul role="list" class="latest-post">
          {% for post in site.posts %}
            {% if post.page != "movie" %}
            {% if forloop.index <= 5 %}
              <li>
                <span class="material-icons-outlined">edit</span>
                <a href="{{ post.url }}">{{ post.title }}</a>
              </li>
              {% endif %}
            {% endif %}
          {% endfor %}
      </ul>
  </div>

  <!-- displays tag titles  -->
  <div class="tags">
      <h2>Tags</h2>
      <div class="tag-child">
          <ul>
              {% for post in site.posts %}
              {% assign i = forloop.index %}
                <li>
                  <a href="{{ post.url }}"> {{ post.tags[0] }}</a>
                </li>
              {% endfor %}
            </ul>
      </div>
  </div>
</div>

<script>
function get_quote_of_the_day() 
{
  var xhttp = new XMLHttpRequest();
  xhttp.onreadystatechange = function() {
    if (this.readyState == 4 && this.status == 200) {
        const response = JSON.parse(this.responseText);
        const quote = response.contents.quotes[0];
        document.querySelector('#q_wrapper .quote').innerText = quote.quote;
        document.querySelector('#q_wrapper .author').innerText = quote.author;
        // console.log(quote);
    }
  }
  xhttp.open("GET", "http://quotes.rest/qod.json?category=inspire", true);
  // xhttp.setRequestHeader("Content-type", "application/json");
  // xhttp.setRequestHeader("X-Theysaidso-Api-Secret", "YOUR API HERE");
  xhttp.send();
}
get_quote_of_the_day()
</script>