---
layout: post
---

<!-- showcase latest blog  -->
<div class="home_wrapper">
  <div class="post_showcase">
    {% for post in site.posts %}
    {% if forloop.index == 1 %}
      <h1><a href="{{ post.url }}">{{ post.title }}</a></h1>
      <p>{{ post.excerpt }}</p>
    {% endif %}
    {% endfor %}
  </div>

<!-- displays latest five blog titles  -->
  <div class="main_aside">
      <h2>Latest Posts</h2>
      <ul role="list" class="latest-post">
          {% for post in site.posts %}
            {% if post.page != "movie" %}
              <li>
                <span class="material-icons-outlined">edit</span>
                <a href="{{ post.url }}">{{ post.title }}</a>
              </li>
            {% endif %}
          {% endfor %}
      </ul>
  </div>

  <!-- displays tag titles  -->
  <div class="tags">
      <h2>Tags</h2>
      <div class="tag-child">
          <ul>
              {% for post in site.posts %}
              {% assign i = forloop.index %}
                <li>
                  <a href="{{ post.url }}"> {{ post.tags[0] }}</a>
                </li>
              {% endfor %}
            </ul>
      </div>
  </div>

</div>
