---
layout: default
---

<div class="movie_wrapper">
    
    <header>

        {% capture categories %}

            {% for movie in site.data.movies  %}
                {{movie.category}}
            {% endfor %}

        {% endcapture %}

        {% assign uniq_categories = categories | split: ' ' | uniq %}

        <nav class="movie-nav" role="navigation">
            <ul>
                {% for category in uniq_categories  %}
                    <li>
                        <a href="#">{{ category | upcase }}</a>
                    </li>
                {% endfor %}
            </ul>
        </nav>
    </header>
    
    <main>
        
        {% for movie in site.data.movies %}

            {% if movie.category == 'animation' %}

                <div class="image-wrapper" title="{{ movie.title }}">
                    <img src="/assets/images/{{ movie.image }}" title="{{ movie.title }}">
                    <div class="img-temoviet">
                        <a href="{{ movie.link }}" target="_blank">{{ movie.title }}</a>
                    </div>
                </div>

            {% endif %}

        {% endfor %}

    </main>

</div>
