---
---
@import "main";

// global 

body{
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    font-size: 20px;
    --gray-light: #a496c430;
}

a {
    text-decoration: none;
}

p {
    text-align: justify;
    line-height: 2rem;
    font-size: 1.2rem;
}

ul {
    list-style: none;
    padding: 0;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    color: rebeccapurple;
}

h1 {
    letter-spacing: 1px;
    text-align: center;
}

h2 {
    font-size: 25px;
}

h3 {
    color: black;
    text-align: center;
}

li h2 {
    text-align: left;
}

// container

#container{
    font-size: 20px;
    margin: 0 auto;
    display: grid;
    grid-template-rows: auto 1fr auto;
    width: 1024px;
}

// header 

header.top-header {
    display: grid;
    grid-template-columns: 200px 1fr;
    place-items: self-end;
    background: var(--gray-light);
}

.site-title {
    margin: 0;
    padding: 10px 20px;
    font-size: 60px;
    font-weight: bold;
    letter-spacing: 8px;
    text-shadow: 2px 2px 0 #dcd3f6, 4px 4px 0 #bf189b87, 6px 6px #9c27b026, 8px 8px black;
    text-transform: uppercase;
    color: rebeccapurple;
    font-family: 'Sigmar One', cursive;
}

// main 

// .main {
//     min-height: 60vh;
//     padding: 20px;
//     padding-bottom: 0;
//     display: grid;
//     grid-template-columns: 70% 1fr;
//     grid-gap: 30px;
// }

// .main ul {
//     display: grid;
//     grid-template-columns: 1fr 1fr;
//     list-style-type: none;
//     grid-gap: 20px;
// }

// .main_aside ul {
//     display: block;
//     list-style-type: decimal-leading-zero;
// }

// ::marker {
//     color: #673ab7;
// }

// .main_aside li {
//     padding: 10px 0;
//     font-size: 1rem;
// }

img {
    width: 200px;
}

.child-meanings {
    color: #673ab7;
}

.content_wrapper {
    margin: 40px 0;
    display: grid;
    grid-template-columns: 600px 1fr;
    grid-template-rows: 1fr auto;
    grid-gap: 40px;
}

.main_wrapper {
    grid-row: 1/3;
}

.main_aside a {
    line-height: 40px;
}

// navigation 

nav {
    background: #9479e354;
    padding: 1px;
}

nav ul {
    display: flex;
    justify-content: flex-end;
    list-style: none;
}

nav li {
    padding: 0 15px;
}

nav a {
    color: #3d05a1;
    font-weight: bold;
    letter-spacing: 2px;
}

nav a:hover{
    color: black;
}

// footer 

footer {
    background: var(--gray-light);
    padding: 10px;
}

// tags

.tag-child {
    display: flex;
}

.tag-child h3 {
    padding-right: 30px;
}

.tag-child h3::before {
    content: "#";
}

// blog

.blog-wrapper {
    width: 1024px;
}

// images

.image-wrapper {
    padding: 20px;
}

.img-text {
    margin-top: 10px;
}