---
layout: movies
title: Animated Movies
page: movie 
categories: movies
permalink: /movies/animation/
---

<div class="movie_wrapper">
    <header>

        {% include movie-nav.html %}

        <h3>
            Animated Movies
        </h3>
    </header>
    <main>

        {% for movie in site.data.movies %}

            {% if movie.category == "animation" %}

            <div class="thumb__wrapper">
                <img src="/assets/images/movies/{{ movie.image }}" title="{{ movie.title }}">
                <div class="img-text">
                    <a href="{{ movie.link }}" target="_blank">{{ movie.title }}</a>
                    <div>{{ movie.year }}</div>
                </div>
            </div>

            {% endif %}

        {% endfor %}
    </main>
</div>
