<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="/assets/css/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Material+Icons+Outlined&family=Sigmar+One&family=Poppins&family=Montserrat:ital@1&display=swap" rel="stylesheet">
  </head>

  <body>

    <div id="container">

        <header class="main_header">

        {% include header.html %}

        <!-- <nav class="main_nav">
            
        </nav>  -->

        </header>

        <div class="main_wrapper">
            {{ content }} 
        </div>

        <footer class="main_footer">
            {% include footer.html %}
        </footer>

    </div>

  </body>

</html>